<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsb.finance.dao.FundDao">

        <sql id="query_time_where">
                ${searchTime}
        </sql>

        <sql id="query_where">
                ${sqlCondition}
        </sql>


        <select id="getList" parameterType="com.gsb.finance.pojo.FundCondition" resultType="com.gsb.finance.pojo.FundDO">
                SELECT * from fund
                <where>
                        <if test="sqlCondition != null and sqlCondition != '' and searchTime == null">
                                <include refid="query_where"></include>
                        </if>
                        <if test="searchTime != null and searchTime != ''">
                                and  fund.createTime <include refid="query_time_where"></include>
                        </if>
                        <if test="sharesCodeList != null  and sharesCodeList.size()>0">
                                AND fund.id IN
                                (
                                SELECT fundId from shares WHERE sharesCode IN
                                <foreach item="item" index="index" collection="sharesCodeList" open="(" separator="," close=")">
                                        #{item}
                                </foreach>
                              )
                        </if>
                </where>
                <if test="sidx != null and sidx !=''">
                        ORDER BY ${sidx} ${sord}
                </if>
                limit #{recordStart},#{recordEnd};
        </select>

        <select id="getTotal" parameterType="com.gsb.finance.pojo.FundCondition" resultType="java.lang.Integer">
                SELECT count(*) from fund
                <where>
                        <if test="sqlCondition != null and sqlCondition != '' and searchTime == null">
                                <include refid="query_where"></include>
                        </if>
                        <if test="searchTime != null and searchTime != ''">
                                and  fund.createTime <include refid="query_time_where"></include>
                        </if>
                        <if test="sharesCodeList != null and sharesCodeList.size()>0 ">
                                AND fund.id IN (SELECT fundId from shares WHERE sharesCode IN
                                <foreach item="item" index="index" collection="sharesCodeList" open="(" separator="," close=")">
                                        #{item}
                                </foreach>
                                )
                        </if>
                </where>
                ;
        </select>

        <select id="getFundById" parameterType="java.lang.Integer" resultType="com.gsb.finance.pojo.FundDO">
                SELECT * from fund WHERE id= #{VALUE } limit 0,1
        </select>

        <select id="getSharesByFundId" parameterType="java.lang.Integer" resultType="com.gsb.finance.pojo.SharesDO">
                SELECT * FROM  shares WHERE fundId= #{VALUE }
        </select>

        <select id="getSharesCodeByFundId" parameterType="java.lang.Integer" resultType="java.lang.String">
                 SELECT sharesCode FROM  shares WHERE fundId= #{VALUE }
        </select>

</mapper>